body,
#whos-who-2012 {
	width: 100%;
}
.overlay-content {
	position: fixed;
	width: 300px;
	left: 50%;
	margin: 20px 0 0 -150px;
}
.overlay-content section {
	max-height: 260px;
	overflow: auto;
}
#intro {
	width: 280px;
	padding: 10px;
}