/*****************************************************************************
Typography
*****************************************************************************/
#whos-who-2012 {
	margin-top: -5px;
	font-size: 16px !important;
	line-height: 1.4545em;
}
/*****************************************************************************
Layout
*****************************************************************************/
body.no-scroll {
	overflow: hidden;
}
#whos-who section > h1 {
	padding: 5px 0 5px 20px;
	margin: 0 -12px 10px -10px;
	background-color: #A00;
	color: #FFF !important;
}
#whos-who section {
	padding-bottom: 20px;
}
/*****************************************************************************
Text Fields
*****************************************************************************/
input[type="text"] {
	width: 93%;
	background-color: #FFF;
	border: 1px solid #888;
	padding: 10px;
	margin: 10px 0;
	font-size: 1em;
}
input[type="text"]:focus {
	background-color: #E5E5E5;
}
/*****************************************************************************
Buttons
*****************************************************************************/
.overlay button[type="button"] {
	width: 100%;
	margin: 50px 0 10px;
	padding: 10px 0 15px;
	border: 1px solid #4D4D4D;
	border-radius: 5px;
	background-color: #666;
	cursor: pointer;
	color: #FFF;
	font-weight: bold;
	font-size: 16px;
}
.overlay button[type="button"]:hover {
	background-color: #555355;
}
.overlay button[type="button"]:active {
	background-color: #414042;
	color: #FFF;
}
.overlay .controls button[type="button"] {
	position: absolute;
	top: 0;
	right: 0;
	height: 50px;
	width: 50px;
	border: 0;
	border-radius: 0;
	margin: 0;
	padding: 0;
	text-indent: -9999px;
	cursor: pointer;
}
.overlay .controls button[type="button"]:hover {
	background-color: #CCC;
}
.overlay .controls button[type="button"]:active {
	background-color: #AAA;
}
.overlay .controls button[data-function="close"] {
	background: url(../im/icon-close.png) no-repeat center center;
}
.overlay .controls button[data-function="edit"] {
	left: 0;
	background: url(../im/icon-pencil.png) no-repeat center center;
}
.overlay .controls button[data-function="save"] {
	left: 0;
	background: url(../im/icon-disk.png) no-repeat center center;
}

/*****************************************************************************
Drop Down Menu
*****************************************************************************/
.dropdown {
	position: relative;
	float: left;
	height: 23px;
	border-bottom-color: #999;
	border-radius: 5px;
	z-index: 1;
}
.dropdown > a {
	display: block;
	height: 17px;
	padding: 3px 20px 3px 10px;
	border-radius: 5px;
	color: inherit;
}
.dropdown > a:hover {
	background-color: #BBB;
	text-decoration: none;
}
.dropdown > a:active {
	background-color: #999;
	color: #FFF;
}
.dropdown ul {
	display: none;
	position: absolute;
	top: 25px;
	left: -1px;
	max-height: 250px;
	overflow: auto;
	padding: 5px;
	background: #EEE;
	border: 1px solid #BBB;
	border-bottom-color: #999;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 0 5px #888;
}
.dropdown li {
	border-bottom: 1px solid #CCC;
}
.dropdown li:last-child {
	border-bottom: none;
}
.dropdown li a {
	color: inherit;
	display: block;
	padding: 5px 4px;
}
.dropdown li a:hover {
	background-color: #BBB;
	text-decoration: none;
}
.dropdown li a:active {
	background-color: #999;
	color: #FFF;
}

/*****************************************************************************
Who's Who Control Bar
*****************************************************************************/
#control-bar {
	position: relative;
	margin-bottom: 10px;
}
#control-bar h1 {
	padding-top: 12px;
	font-size: 1.5em;
	color: #A00 !important;
	text-align: center;
	text-transform: uppercase;
}
#control-bar h1 strong {
	font-weight: bold;
}
#control-bar .search {
	position: absolute;
	top: 0;
	left: 0;
}
#control-bar .search label {
	width: 300px;
	text-indent: -9999px;
	overflow: hidden;
}
#control-bar .score span,
#control-bar .search label span {
	display: none;
}
#control-bar .search input[type="text"] {
	height: 23px;
	width: 200px;
	padding: 2px 5px;
	border: 1px solid #777;
	border-top-color: #666;
	border-bottom-color: #999;
	background: url(../im/icon-search.gif) no-repeat 190px center;
	font-size: 1em;
	font-weight: normal;
}
#control-bar .search button[type="submit"] {
	display: none;
}
#control-bar .user {
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
}
#control-bar .user .profile {
	float: right;
	margin: 7px 10px 0 0;
}
#control-bar .user .profile > a {
	display: block;
	height: 32px;
	width: 32px;
	margin: 0;
	background: url(../im/icon-user.png) no-repeat 0 0;
	text-indent: -9999px;
}
#control-bar .user .profile > a:hover {
	background-color: #CCC;
}
#control-bar .user .profile > a:active {
	background-color: #AAA;
}
#control-bar .user .score a {
	float: right;
	height: 47px;
	width: 37px;
	margin-top: -6px;
	padding: 18px 0 0 4px;
	background: url(../im/icon-ribbon.gif) no-repeat 0 0;
	text-decoration: none;
	color: #FFF !important;
}

/*****************************************************************************
Who's Who Grid
*****************************************************************************/
#connections,
#all-whos-who {
	display: none;
}
#whos-who li {
	float: left;
	margin: 5px;
	padding: 5px;
	cursor: pointer;
}
#whos-who li:hover {
	background-color: #A00;
	color: #FFF;
}
#whos-who li:hover h2 {
	color: #FFF !important;
}
#whos-who li:active {
	background-color: #751117;
}
#whos-who dl {
	display: none;
}
#whos-who li h2 {
	border-bottom: none;
	margin-top: 5px;
	background-color: transparent;
}
#whos-who li h2 span {
	display: none;
}

/*****************************************************************************
Overlay
*****************************************************************************/
.overlay {
	/*display: none;*/
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.overlay-bg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 0.8;
}
.overlay-main {
	position: relative;
	height: 100%;
	overflow: auto;
}
.overlay-item {
	display: none;
	width: 350px;
	margin: 10% auto;
	background-color: #FFF;
}
.overlay-item.selected {
	display: block;
}
.overlay .controls {
	position: relative;
	height: 50px;
	border-bottom: 1px solid #BBB;
	background-color: #EFEFEF;
	box-shadow: 0 0 3px #AAA;
	text-align: center;
	font-weight: bold;
}
.overlay .controls strong {
	background-color: transparent;
	font-weight: bold;
	font-size: 1.5em;
	line-height: 50px;
}

/*****************************************************************************
Overlay - Intro
*****************************************************************************/
#intro {
	padding: 10px 20px;
}
#intro p {
	margin-bottom: 10px;
	font-size: 1em !important;
	line-height: 1.4em !important;
}
#intro .logo {
	width: 206px;
	margin: 10px auto 20px;
}

/*****************************************************************************
Overlay - Survey
*****************************************************************************/
#survey .controls {
	background-color: #A00;
}
#survey .controls strong {
	color: #FFF;
}
#survey .controls button {
	position: absolute;
	top: 0;
	height: 50px;
	width: 50px;
	border: 0;
	border-radius: 0;
	margin: 0;
	padding: 10px 5px;
	text-indent: -9999px;
	cursor: pointer;
	overflow: hidden;
}
#survey nav {
	position: absolute;
	width: 252px;
	left: -126px;
	margin-left: 50%;
	padding: 0;
	bottom: -25px;
}
#survey nav li {
	display: inline;
	padding: 0 5px;
}
#survey nav li a {
	display: inline-block;
	height: 9px;
	width: 9px;
	border: 1px solid #666;
	border-radius: 5px;
	background-color: #FFF;
	text-indent: -9999px;
	overflow: hidden;
}
#survey nav li a:hover {
	background-color: #A00;
}
#survey nav li.selected a {
	background-color: #A00;
}
#survey button[data-function="prev"] {
	left: 0;
	background: url(../im/icon-arrow-left.gif) no-repeat center center;
}
#survey button[data-function="next"] {
	right: 0;
	background: url(../im/icon-arrow-right.gif) no-repeat center center;
}
#survey .controls button:hover {
	background-color: #760A04;
}
#survey .controls button:active {
	background-color: #590100;
	color: #FFF;
}
#survey .controls button[disabled="disabled"],
#survey .controls button[disabled="disabled"]:hover,
#survey .controls button[disabled="disabled"]:active {
	opacity: 0.5;
	background-color: transparent;
}
#questions {
	margin-top: 40px;
}
#questions section {
	display: none;
	padding: 10px 20px;
}
#questions section.selected {
	display: block;
}
#questions select {
	width: 100%;
	margin: 10px 0 20px;
	font-size: 1em;
}
#questions .multi input[type="text"] {
	width: 220px;
}
#questions button[data-function="add"] {
	display: inline;
	width: auto;
	margin: 0;
	padding: 10px;
}
#questions .notification {
	margin-bottom: 10px;
	color: #F00;
	font-size: 0.75em;
}
#questions .entries {
	border-top: 1px solid #CCC;
	margin-top: 10px;
}
#questions .entries li {
	position: relative;
	min-height: 20px;
	padding: 5px 30px 5px 0;
	border-bottom: 1px solid #DDD;
	line-height: 1.25em;
}
#questions button[data-function="remove"] {
	background: url(../im/icon-close.png) no-repeat center center transparent;
}
.ui-autocomplete {
	position: absolute;
	max-height: 250px;
	width: 250px;
	border: 1px solid #DDD;
	padding: 5px;
	background-color: #FFF;
	overflow: auto;
}
.ui-autocomplete li a {
	display: block;
	padding: 5px;
	line-height: 1.25em;
}
.ui-autocomplete li a:hover,
.ui-autocomplete li a:focus {
	background-color: #CCC;
}
.ui-autocomplete li a:active {
	background-color: #AAA;
}

/*****************************************************************************
Overlay - Your Score
*****************************************************************************/
#your-score .controls {
	background-color: #A00;
}
#your-score .controls strong {
	color: #FFF;
}
#your-score .controls button[data-function="close"] {
	background: url(../im/icon-close-active.png) no-repeat center center ;
}
#your-score .controls button[data-function="close"]:hover {
	background-color: #760A04;
}
#your-score .controls button[data-function="close"]:active {
	background-color: #590100;
}
#your-score .content {
	padding: 10px 20px;
}
#your-score .score {
	margin-top: 10px;
	text-align: center;
}
#your-score .score-bar {
	position: relative;
	height: 16px;
	margin: 10px 0 30px;
	background-color: #DDD;
	border: 1px solid #999;
	border-radius: 8px;
}
#your-score .score-bar-actual {
	position: absolute;
	height: 16px;
	width: 30%;
	border-radius: 8px;
	top: 0;
	left: 0;
	background-color: #A00;
	text-indent: -9999px;
}
#your-score .score-bar-min,
#your-score .score-bar-max {
	position: absolute;
	top: 20px;
}
#your-score .score-bar-min {
	left: 0;
}
#your-score .score-bar-max {
	right: 0;
}
#your-score .score strong {
	display: block;
	color: #A00;
	font-size: 6em;
	line-height: 1em;
	font-weight: bold;
}
#your-score .content button {
	margin-top: 0;
}
#your-score p {
	line-height: 1.4545em;
	margin-bottom: 30px;
}
/*****************************************************************************
Overlay - User Profile
*****************************************************************************/
#user-profile .score {
	margin-top: 10px;
	text-align: center;
}
#user-profile .score strong {
	display: block;
	color: #A00;
	font-size: 6em;
	line-height: 1em;
	font-weight: bold;
}
#user-profile h2 {
	border-bottom: none;
	padding: 10px;
	color: #A00 !important;
	font-size: 1.5em;
	font-weight: bold;
}
#user-profile ul {
	border-top: 1px solid #CCC;
}
#user-profile li {
	padding: 10px;
	border-bottom: 1px solid #CCC;
	font-weight: bold;
	line-height: 1em;
	background: url(../im/icon-arrow-right.png) no-repeat right center;
	cursor: pointer;
}
#user-profile li:hover {
	background: url(../im/icon-arrow-right-active.png) no-repeat right center #A00;
	color: #FFF;
}
#user-profile li:active {
	background-color: #760A04;
}
#user-profile li span {
	display: block;
	color: #666;
	font-size: 0.75em;
	font-weight: normal;
}

/*****************************************************************************
Overlay - User Profile Edit
*****************************************************************************/
#user-profile-edit {
	margin-top: 3%;
}
#user-profile-edit .content {
	padding: 20px 10px;
}
#user-profile-edit .content li {
	margin-bottom: 15px;
}
#user-profile-edit .content strong {
	display: block;
}
#user-profile-edit input[type="text"] {
	margin: 0;
}
#user-profile-edit .name label,
#user-profile-edit .hometown label {
	float: left;
	width: 130px;
	margin-right: 10px;
}
#user-profile-edit .name input[type="text"],
#user-profile-edit .hometown input[type="text"] {
	width: 108px;
}
#user-profile-edit .name .name-suffix,
#user-profile-edit .name .hometown-state {
	width: 40px;
}
#user-profile-edit .name-suffix input[type="text"],
#user-profile-edit .hometown-state input[type="text"] {
	display: block;
	width: 18px;
}
#user-profile-edit .linkedin-connect button {
	display: block;
	width: 165px;
	padding: 5px;
	margin: 0;
}

/*****************************************************************************
Overlay - Who's Who Details
*****************************************************************************/
#whos-who-details {
	margin-top: 3%;
}
#whos-who-details .content {
	position: relative;
	padding: 10px;
}
#whos-who-details h2 {
	border-bottom: 1px solid #CCC;
	padding: 10px 0 5px;
	margin-bottom: 10px;
	font-size: 1.5em;
	font-weight: bold;
}
#whos-who-details dt {
	color: #666;
}
#whos-who-details dd {
	margin: 0 0 15px;
	font-weight: bold;
}
#whos-who-details strong {
	color: #000;
	font-weight: bold;
}