/*****************************************************************************
Typography
*****************************************************************************/
#cww {

}
#cww h1 {
	
}

/*****************************************************************************
Layout
*****************************************************************************/
#cww {
	float: left;
	width: 935px;
	padding: 10px;
}

/*****************************************************************************
Drop Down Menu
*****************************************************************************/
.dropdown {
	position: relative;
	float: left;
	height: 23px;
	border-bottom-color: #999;
	border-radius: 5px;
	z-index: 1;
}
.dropdown > a {
	display: block;
	height: 17px;
	padding: 3px 20px 3px 10px;
	border-radius: 5px;
	color: inherit;
}
.dropdown > a:hover {
	background-color: #BBB;
	text-decoration: none;
}
.dropdown > a:active {
	background-color: #999;
	color: #FFF;
}
.dropdown ul {
	display: none;
	position: absolute;
	top: 25px;
	left: -1px;
	max-height: 250px;
	overflow: auto;
	padding: 5px;
	background: #EEE;
	border: 1px solid #BBB;
	border-bottom-color: #999;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 0 5px #888;
}
.dropdown li {
	border-bottom: 1px solid #CCC;
}
.dropdown li:last-child {
	border-bottom: none;
}
.dropdown li a {
	color: inherit;
	display: block;
	padding: 5px 4px;
}
.dropdown li a:hover {
	background-color: #BBB;
	text-decoration: none;
}
.dropdown li a:active {
	background-color: #999;
	color: #FFF;
}

/*****************************************************************************
Overlay
*****************************************************************************/
.overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.overlay-bg {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 0.8;
	z-index: 1;
}
.overlay-content {
	position: fixed;
	width: 350px;
	left: 50%;
	margin: 20% 0 0 -150px;
	background-color: #FFF;
	box-shadow: 0 0 8px #000;
	border-radius: 5px;
	z-index: 2;
}
.overlay-content .controls {
	border-radius: 5px 5px 0 0;
	padding: 5px 0;
	background-color: #AA0000;
	text-align: center;
	font-weight: bold;
}
.overlay-body {
	position: relative;
	padding: 10px;
}

/*****************************************************************************
Questionnaire
*****************************************************************************/
#questionnaire.overlay {
	display: block;
}
#questionnaire .controls {
	position: relative;
}
#questionnaire .controls h1 {
	font-weight: bold;
	color: #FFF;
}
#questionnaire .controls button {
	position: absolute;
	top: 10px;
	width: 50px;
	/*border: 1px solid #CCC;*/
	padding: 5px;
	border-radius: 5px;
	text-indent: -9000px;
	cursor: pointer;
	overflow: hidden;
}
#questionnaire nav li {
	display: inline;
}
#questionnaire nav li a {
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	background-color: #000;
	text-indent: -9000px;
	overflow: hidden;
}
#questionnaire nav li.selected a {
	background-color: #FFF;
}
#questionnaire button[data-function="prev"] {
	left: 10px;
	background: url(../im/icon-arrow-left.gif) no-repeat center center;
}
#questionnaire button[data-function="next"] {
	right: 10px;
	background: url(../im/icon-arrow-right.gif) no-repeat center center;
}
#questionnaire .controls button:hover {
	background-color: #AAA;
}
#questionnaire .controls button:active {
	background-color: #999;
	color: #FFF;
}
#questionnaire .logo {
	width: 206px;
	margin: 10px auto 20px;
}
.overlay-body {
	min-height: 300px;
	overflow: hidden;
}
.overlay-body .question {
	display: none;
}
.overlay-body .selected {
	display: block;
}
.question input[type="text"] {
	width: 95%;
	padding: 5px;
	margin: 20px 0 10px;
	border-radius: 5px;
}
.question button[type="button"] {
	width: 100%;
	margin: 20px 0 10px;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
}

/*****************************************************************************
Control Bar
*****************************************************************************/
#control-bar {
	padding: 5px;
	margin-bottom: 10px;
}
#control-bar h1 {
	font-size: 1.5em;
	text-align: center;
}
#control-bar h1 strong {
	font-weight: bold;
}
#control-bar .search {
	float: left;
}
#control-bar .search label {
	width: 300px;
	text-indent: -9000px;
	overflow: hidden;
}
#control-bar .score span,
#control-bar .search label span {
	display: none;
}
#control-bar .search input[type="text"] {
	width: 200px;
	padding: 2px 5px;
	border: 1px solid #999;
	border-bottom-color: #888;
	border-radius: 3px;
	background: url(../im/icon-search.gif) no-repeat 190px center;
	font-weight: normal;
}
#control-bar .search button[type="submit"] {
	display: none;
}
#control-bar .user {
	float: right;
	width: 300px;
}
.user .profile {
	float: right;
}
.user .profile > a {
	width: 20px;
	margin: 10px 0 0;
	background: url(../im/icon-user.gif) no-repeat;
	text-indent: -9000px;
}
.user .score a {
	float: right;
	width: 30px;
	padding: 10px 5px;
	background-color: #AA0000;
	/*background: url(../im/icon-user.gif) no-repeat;*/
	text-align: center;
	text-decoration: none;
	color: #FFF;
}
#whoswho {

}
#whoswho h1 {
	padding: 5px 0;
	background-color: #AA0000;
	color: #FFF;
	text-align: center;
	font-weight: bold;
}

/*****************************************************************************
Who's Who-er
*****************************************************************************/
#whoswho li {
	float: left;
	margin: 5px;
	padding: 5px;
	border-radius: 3px;
	cursor: pointer;
}
#whoswho li:hover {
	background-color: #AA0000;
	color: #FFF;
}
#whoswho li:active {
	background-color: #751117;
}
#whoswho dl {
	display: none;
}
#whoswho li h2 span {
	display: none;
}

/*****************************************************************************
Who's Who-er Details
*****************************************************************************/
.overlay-body .photo {
	position: absolute;
	top: 10px;
	right: 10px;
}
.overlay-body h2 {
	border-bottom: 1px solid #CCC;
	padding: 10px 0 5px;
	margin-bottom: 10px;
	font-size: 1.5em;
	font-weight: bold;
}
.overlay-body dt {
	color: #666;
}
.overlay-body dd {
	margin-bottom: 10px;
	font-weight: bold;
}
.overlay strong {
	color: #FFF;
	font-weight: bold;
}
button[data-function="close"] {
	position: absolute;
	top: 3px;
	right: 5px;
	width: 25px;
	border: 0;
	padding: 0;
	background: url(../im/icon-close.gif) no-repeat center center;
	text-indent: -9000px;
	cursor: pointer;
	overflow: hidden;
}
button[data-function="close"]:hover {
	background-color: #751117;
}
button[data-function="close"]:active {
	background-color: #AA0000;
}